<!-- Icon -->
<div class="fadeIn first icon-container">
  <img src="auth/user-login.png" id="icon" alt="Login Icon" />
  <h1 class="form-title">Login</h1>
</div>

<!-- Login Form -->
<form [formGroup]="loginForm" (ngSubmit)="handle_login()">
  <input
    type="email"
    id="email"
    class="fadeIn second"
    placeholder="email"
    formControlName="email"
  />
  <input
    type="password"
    id="password"
    class="fadeIn third"
    placeholder="password"
    formControlName="password"
  />
  <input type="submit" [disabled]="loginForm.invalid" class="fadeIn fourth submit-btn" value="Log In" />
</form>
<div id="formFooter">
  <p>
    Don't have an account?
    <a class="underlineHover" routerLink="/auth/signup">Sign up</a>
  </p>
</div>
