<div class="div">

    <h1>Measurement Unit Information</h1>

    <form [formGroup]="updateMeasurementUnitForm" (ngSubmit)="handle_update_m_unit()">
        <div class="mb-3">
          <label for="m_unit" class="form-label">Unit Name</label>
          <input type="text" class="form-control" id="m_unit" formControlName="measurement_unit">
        </div>
        <div class="mb-3">
          <label for="abbreviation" class="form-label">Abbreviation</label>
          <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation">
        </div>
        <button type="submit" class="btn btn-primary me-3" [disabled]="updateMeasurementUnitForm.invalid">Update</button>
        <button type="button" class="btn btn-secondary" routerLink="../../">Close</button>
    </form>


</div>