<div class="div">

    <h1>Products</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Supplier</th>
          <th scope="col">Cost Price</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Min. Stock</th>
          <th scope="col">Reorder Stock Qnt.</th>
          <th scope="col">Measurement Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of products">
          <th scope="row">{{ prod.id }}</th>
          <th>{{ prod.name }}</th>
          <th>{{ prod.category }}</th>
          <th>{{ prod.supplier_name }}</th>
          <th>{{ prod.cost_price }}</th>
          <th>{{ prod.selling_price }}</th>
          <th>{{ prod.minimum_stock }}</th>
          <th>{{ prod.reorder_stock_quantity }}</th>
          <th>{{ prod.measurement_unit }}</th>
        </tr>
      </tbody>
    </table>
    
</div>
