<div class="div">

    <h1>Supplier Information</h1>

    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" name="name">
          </div>
          <div class="mb-3">
            <label for="contact" class="form-label">Contact</label>
            <input type="text" class="form-control" id="contact" [(ngModel)]="formData.contact" name="contact">
          </div>
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="formData.email" name="email">
          </div>
          <div class="mb-3 d-block">
              <label for="address" class="form-label">Address</label><br/>
              <textarea name="address" id="address" [(ngModel)]="formData.address" name="address"></textarea>
          </div>
    </form>

    <button type="submit" class="btn btn-primary me-3" (click)="update_supplier(id)">Update</button>
    <button type="button" class="btn btn-secondary">Close</button>

</div>