<div class="fadeIn first icon-container">
  <img src="auth/user-signup.png" id="icon" alt="Signup Icon" />
  <h1 class="form-title">Signup</h1>
</div>

<!-- Signup Form -->
<form>
  <input
    type="text"
    id="name"
    class="fadeIn second"
    placeholder="name"
  />
  <input
    type="text"
    id="contact"
    class="fadeIn third"
    placeholder="contact"
  />
  <input
    type="email"
    id="email"
    class="fadeIn fourth"
    placeholder="email"
  />
  <input
    type="password"
    id="password"
    class="fadeIn fifth"
    placeholder="password"
  />
  <input type="submit" class="fadeIn sixth submit-btn" value="Sign up" />
</form>
<div id="formFooter">
  <p>
    Already have an account?
    <a class="underlineHover" routerLink="/auth/login">Login</a>
  </p>
</div>
