
<div class="topnav">
  <h1>Inventory Management System - Dashboard</h1>
  <span class="menu">
    <i class="fa-solid fa-list"></i>
  </span>
</div>


<div class="sidebar shadow p-1" id="sidebar">
  <ul>
    <li><a href="#">
      <span><i class="fa-solid fa-gauge"></i></span>
      Dashboard</a></li>
    <li>
      <a href="#">
        <span><i class="fa-brands fa-product-hunt"></i></span>
        Product</a>
      <ul>
        <li href="#">Product</li>
        <li><a href="#">Measure Unit</a></li>
        <li href="#">Catgory</li>
      </ul>
    </li>
    <li><a href="#">
      <span><i class="fa-solid fa-boxes-packing"></i></span>
      Supplier</a></li>
    <li><a href="#">
      <span><i class="fa-solid fa-person-circle-plus"></i></span>
      Customer</a></li>
    <li><a href="#">
      <span><i class="fa-solid fa-warehouse"></i></span>
      Inventory</a></li>
    <li>
      <a href="#">
        <span><i class="fa-solid fa-cart-shopping"></i></span>
        Purchase</a>
    </li>
    <li>
      <a href="#">
        <span><i class="fa-regular fa-money-bill-1"></i></span>
        Sales</a>
    </li>
    <li>
      <a href="#">
        <span><i class="fa-solid fa-arrow-rotate-left"></i></span>
        Return</a>
    </li>
    <li>
      <a href="#">
        <span><i class="fa-solid fa-file-invoice-dollar"></i></span>
        Accounting</a>
      <ul>
        <li href="#">Report</li>
        <li href="#">Transaction Types</li>
      </ul>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>