<div class="div">

    <h1>Category Update</h1>

    <form [formGroup]="updateCategoryForm" (ngSubmit)="handle_update_category()">
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="category" formControlName="category">
        </div>
        <button type="submit" class="btn btn-primary me-3" [disabled]="updateCategoryForm.invalid">Update</button>
        <button type="button" class="btn btn-secondary" routerLink="../../">Close</button>
    </form>

</div>