<div class="div">

  <h1>Measurement Units
    <span data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus ms-2" style="font-size: 25px; cursor: pointer;"></i></span>
  </h1>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Unit</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m_unit of measurementUnits">
        <th scope="row">{{ m_unit.id }}</th>
        <td>{{ m_unit.measurement_unit }}</td>
        <td>{{ m_unit.abbreviation }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="update_m_unit(m_unit.id)">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete_m_unit(m_unit.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


  
  <!-- Add Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Measurement Unit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form content -->
          <form>
            <div class="mb-3">
              <label for="m_unit" class="form-label">Unit Name</label>
              <input type="text" class="form-control" id="m_unit" [(ngModel)]="formData.measurement_unit" name="measurement_unit">
            </div>
            <div class="mb-3">
              <label for="abbreviation" class="form-label">Abbreviation</label>
              <input type="text" class="form-control" id="abbreviation" [(ngModel)]="formData.abbreviation" name="abbreviation">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="add_m_unit()">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="m_unit_modal_close">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Update Modal -->
  <div class="modal fade" #updateModal id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Measurement Unit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form content -->
          <form>
            <div class="mb-3">
              <label for="m_unit" class="form-label">Unit Name</label>
              <input type="text" class="form-control" id="m_unit" [(ngModel)]="formData.measurement_unit" name="measurement_unit">
            </div>
            <div class="mb-3">
              <label for="abbreviation" class="form-label">Abbreviation</label>
              <input type="text" class="form-control" id="abbreviation" [(ngModel)]="formData.abbreviation" name="abbreviation">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="m_unit_modal_close">Close</button>
        </div>
      </div>
    </div>
  </div>
    
</div>
