<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Total Product</h5>
            <p class="card-text">{{ dashboardDetail?.productQnt }}</p>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Total Supplier</h5>
            <p class="card-text">{{ dashboardDetail?.supplierQnt }}</p>
        </div>
        </div>
    </div>
</div>